* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

canvas{
    position: absolute;
    background-color: rgb(206, 199, 199);
}

.contenedor {
    position: absolute;
    z-index: 99;
}

#boton {
    width: 180px;
    height: 60px;
    border-radius: 40px;
    font: bold;
    font-size: 30px;
}

img {
    display: none;
}